.Produtos {
    background-color: #e7e4dc;
    font-size: small;
    font-family: "Gill Sans Extrabold", sans-serif;
    color: rgb(0, 0, 0);
    padding: 10x 30px;
    grid-area: produtos;
    grid-area: resto;
    display: list-item;
    align-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ListaTitulo {
        background-color: #e7e4dc;
        color: rgb(0, 0, 0);
        font-family: "Gill Sans Extrabold", sans-serif;
        font-size: medium;
        padding: 10x 30px;
        grid-area: produtos;
        grid-area: resto;
        display: list-item;
        align-items: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    
}